@tailwind base;
@tailwind components;
@tailwind utilities;

 



body::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;


}

body::-webkit-scrollbar-track {
  background: #ffffff3c;
  backdrop-filter: blur(15px);
}

body::-webkit-scrollbar-thumb {
  background: #000000;

}

body::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

.placeholder-sm::placeholder {
  font-size: 3px;
  
}



 
